<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Liga Méxicana de Futbol</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">
                <a href="/">
                    <img src="~/Images/logo.png" alt="Logo" class="logo" />
                    </a>
                    
                
                    @Html.ActionLink("LIGA MEXICANA DE FUTBOL", "Index", "Home")

                </p>
            </div>

            
            <div class="float-right">
                @*<section id="login">
                    @Html.Partial("_LoginPartial")
                </section>*@
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Equipos", "index", "Equipo")</li>
                        <li>@Html.ActionLink("Directores", "index", "Director")</li>
                        <li>@Html.ActionLink("Padres", "index", "Padre")</li>
                        <li>@Html.ActionLink("Jugadores", "index", "Jugador")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="color">&copy; @DateTime.Now.Year - Elaborado por: Diana Estefanía B. R., Miguel Ángel R. L., Gary A. N., Daniel S. P. </p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
