@model EquiposMex.Models.JUGADOR

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>JUGADOR</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_JUGADOR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_JUGADOR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PADRE.APELLIDOSPADRE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PADRE.APELLIDOSPADRE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EQUIPO.NOMBREEQUIPO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EQUIPO.NOMBREEQUIPO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NOMBREJUGADOR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NOMBREJUGADOR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.APELLIDOSJUGADOR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.APELLIDOSJUGADOR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDAD)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDAD)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
